<header class="top">
    <div class="top__left">
        <img src="/assets/img/global/avatar.jpg" alt="Avatar" class="top__avatar">
        <span class="top__brand" data-i18n="header.title">Portfolio</span>
    </div>
    <div class="top__right">
        <nav class="links">
            <a href="#" class="top__link" data-i18n="header.nav.sites" onclick="showSection('sites'); return false;">Sites</a>
            <a href="#" class="top__link" data-i18n="header.nav.bots" onclick="showSection('bots'); return false;">Telegram Bots</a>
            <a href="#" class="top__link" data-i18n="header.nav.about" onclick="showSection('about'); return false;">More About Me</a>
        </nav>
        <button class="top__cta theme-toggle" onclick="toggleTheme()" aria-label="Toggle theme">
            <span class="theme-icon">&#9790;</span>
        </button>
        <button class="top__cta lang-toggle" onclick="toggleLanguage()" aria-label="Toggle language">
            <span class="lang-label">RU</span>
        </button>
    </div>
</header>
